@model IEnumerable<Concesionario.GUI.Models.Vehiculo.ModeloVehiculoGUI>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SerieChasis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SerieMotor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descuento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreCategoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreMarca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RazonSocialProveedor)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerieChasis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerieMotor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descuento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreMarca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RazonSocialProveedor)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.Id }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" }) |
                @Html.ActionLink("Fotografías", "UploadFile", new { id = item.Id }, new { @class = "btn btn-info" })
            </td>
        </tr>
    }

</table>

@Html.Partial("_FooterPagedList")
